/* Common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: var(#181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description{
    color: var(#757575);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
/* Common shared styles */

/* nav related styles here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* nav related styles here */

/* Header related styles here */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-picture {
  width: 500px;
}
.banner-greeting {
  font-style: 45px;
  color: #474747;
  margin-bottom: 0px;
}
.banner-title {
  font-style: 85px;
  font-style: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-style: 18px;
  font-weight: 400px;
}
.btn {
  margin-right: 10px;
}
/* Header related styles here */

/* Main related styles here */
/* About section styles here */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}
/* About section styles here */
/* Main related styles here */
